.container > button {
  margin: 1rem 3rem;
}

.containerTableBtn {
  display: flex;
  gap: 0.4rem;
}

.containerTableBtn > button {
  font-size: 0.9rem;
}

.container > div {
  margin: 0 3rem;
}

.dataTable {
  border: 1px solid #d9d9d9;
}

.dataTable > div > div > div > div {
  font-weight: bold;
}
