* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
textarea,
button {
  font-family: sans-serif;
  line-height: 140%;
}

.btn {
  display: flex !important;
  align-items: center;
  gap: 0.5rem;
}